<div class="spinnerHome" 
[ngStyle]="{top : top + 'px'}" *ngIf="isSpinner">
    <img src="../../../assets/img/spinner/loading.gif">
</div>
<div class="errorHome" [ngStyle]="{top : top + 'px'}" *ngIf="isError">
    {{errorMessage | uppercase}}
</div>
<app-header></app-header>
<div *ngIf="isHome" class="homeContainer">
    <div class="pageTitle">home page</div>
    <div class="serverContainer">
        <div class="serverPerType" *ngFor="let arr of gameWorlds">
            <div [ngClass]="{'server':true, 'error' : isInactiveWorld(gw.name), 'selected' : gw.status === true}" 
                *ngFor="let gw of arr" 
                (click)="getData(gw.name, $event)">
                {{gw.name | uppercase}}
            </div>
        </div>
    </div>
    <ng-template *ngIf="isGameworld then ok else no"></ng-template>
    <ng-template #ok>
        <div class="gopage" routerLink="phalangiate">Go To Phalangiate</div>
    </ng-template>
    <ng-template #no>
        <h1 class="pageTitle">nessun mondo di gioco selezionato</h1>
    </ng-template>
</div>
<router-outlet></router-outlet>
