.spinnerHome{
    transform: translate(-50%, -50%);
    user-select: none;
    position: absolute;
    left: 50%;
    z-index: 100;
}

.errorHome{
    height: 60px;
    padding-inline: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: red;
    background-color: #111;
    transform: translate(-50%, -50%);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    z-index: 100;
}

.homeContainer{
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.gopage{
    width: 250px;
    height: 100px;
    border: 2px solid blueviolet;
    border-radius: 4px;
    cursor: pointer;
    transition: filter 300ms ease-in-out;
}

.gopage:hover{
    filter: contrast(3);
}

.serverContainer{
    width: 100%;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.serverPerType{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.server{
    padding: 5px 15px;
    border-radius: 4px;
    background-color: var(--bg-server);
    cursor: pointer;
    user-select: none;
    transition: background-color 300ms ease-in-out;
}

.error{
    border: 1px solid;
    color: rgb(255, 60, 60);
}

.selected{
    font-weight: 900;
    border: 2px solid;
    color: green;
    pointer-events: none;
}

