<div [ngClass]="{'header' : true}"  *ngIf="language['theme']">
   
    <div class="btnHead language btnModal" (click)="toggleModal('lang')">
        {{language['lang']['title']}}
        <img class="langImg" *ngIf="lang === 'it'" src="../../../assets/img/icon/it_flag.png">
        <img class="langImg" *ngIf="lang === 'en'" src="../../../assets/img/icon/en_flag.png">
        <div [ngClass]="{'modal' : true, 'openModal' : isOpenModal('lang')}" (click)="stopPropagation($event)">
            <div class="itemModal" (click)="setLang('it')">
                {{language['lang']['it']}}
                <img src="../../../assets/img/icon/it_flag.png">
            </div>
            <div class="itemModal" (click)="setLang('en')">
                {{language['lang']['en']}}
                <img src="../../../assets/img/icon/en_flag.png">
            </div>
        </div>
    </div>
    <div class="btnHead theme btnModal" (click)="toggleModal('theme')">
        {{language['theme']['title']}}
        <img *ngIf="!isDark" src="../../../assets/img/icon/ligth.png" alt="chiaro">
        <img *ngIf="isDark" src="../../../assets/img/icon/dark.png" alt="scuro">
        <div [ngClass]="{'modal' : true, 'openModal' : isOpenModal('theme')}" (click)="stopPropagation($event)">
            <div class="itemModal" (click)="setTheme(false)">
                {{language["theme"]["ligthTheme"]}}
            </div>
            <div class="itemModal" (click)="setTheme(true)">
                {{language["theme"]["darkTheme"]}}
            </div>
        </div>
    </div>
    <div class="username">
        {{username}}
        <div class="logout" (click)="logout()">
            <img src="../../../assets/img/icon/logout.png">
        </div>
    </div>
    <!-- <div class="logout" (click)="logout()">
        <img src="../../../assets/img/icon/logout.png">
    </div> -->
</div>
